In [7]:
import pandas as pd
import numpy as np
import chardet

In [8]:
def convert_to_utf8(input_file, output_file):
    with open(input_file, 'rb') as file:
        content = file.read()
    
    import chardet
    result = chardet.detect(content)
    encoding = result['encoding']
    
    decoded_content = content.decode(encoding, errors='replace')
    with open(output_file, 'w', encoding='utf-8') as file:
        file.write(decoded_content)

# Convert
convert_to_utf8('all_athlete_games.csv', 'all_athlete_games_utf8.csv')

   Entry ID                                Name  Gender   Age            Team  \
0         0                           A Dijiang    Male  24.0           China
1         1                            A Lamusi    Male  23.0           China
2         2                 Gunnar Nielsen Aaby    Male  24.0         Denmark
3         3                Edgar Lindenau Aabye    Male  34.0  Denmark/Sweden
4        26  Cornelia "Cor" Aalten (-Strannood)  Female  18.0     Netherlands

   NOC  Year  Season         City       Sport                         Event  \
0  CHN  1992  Summer    Barcelona  Basketball   Basketball Men's Basketball
1  CHN  2012  Summer       London        Judo  Judo Men's Extra-Lightweight
2  DEN  1920  Summer    Antwerpen    Football       Football Men's Football
3  DEN  1900  Summer        Paris  Tug-Of-War   Tug-Of-War Men's Tug-Of-War
4  NED  1932  Summer  Los Angeles   Athletics  Athletics Women's 100 metres

  Medal
0   NaN
1   NaN
2   NaN
3  Gold
4   NaN
       City    Year     Sport Discipline           Event  \
0  Montreal  1976.0  Aquatics     Diving  3m springboard
1  Montreal  1976.0  Aquatics     Diving  3m springboard
2  Montreal  1976.0  Aquatics     Diving  3m springboard
3  Montreal  1976.0  Aquatics     Diving  3m springboard
4  Montreal  1976.0  Aquatics     Diving    10m platform

                    Athlete Gender Country_Code        Country Event_gender  \
0           KÖHLER, Christa  Women          GDR   East Germany            W
1       KOSENKOV, Aleksandr    Men          URS   Soviet Union            M
2      BOGGS, Philip George    Men          USA  United States            M
3  CAGNOTTO, Giorgio Franco    Men          ITA          Italy            M
4    WILSON, Deborah Keplar  Women          USA  United States            W

    Medal
0  Silver
1  Bronze
2    Gold
3  Silver
4  Bronze

In [29]:
#Read
df = pd.read_csv('DATA/all_athlete_games_utf8.csv')

print(df.head())

   Entry ID                                Name  Gender   Age            Team  \
0         0                           A Dijiang    Male  24.0           China
1         1                            A Lamusi    Male  23.0           China
2         2                 Gunnar Nielsen Aaby    Male  24.0         Denmark
3         3                Edgar Lindenau Aabye    Male  34.0  Denmark/Sweden
4        26  Cornelia "Cor" Aalten (-Strannood)  Female  18.0     Netherlands

   NOC  Year  Season         City       Sport                         Event  \
0  CHN  1992  Summer    Barcelona  Basketball   Basketball Men's Basketball
1  CHN  2012  Summer       London        Judo  Judo Men's Extra-Lightweight
2  DEN  1920  Summer    Antwerpen    Football       Football Men's Football
3  DEN  1900  Summer        Paris  Tug-Of-War   Tug-Of-War Men's Tug-Of-War
4  NED  1932  Summer  Los Angeles   Athletics  Athletics Women's 100 metres

  Medal
0   NaN
1   NaN
2   NaN
3  Gold
4   NaN
       City    Year     Sport Discipline           Event  \
0  Montreal  1976.0  Aquatics     Diving  3m springboard
1  Montreal  1976.0  Aquatics     Diving  3m springboard
2  Montreal  1976.0  Aquatics     Diving  3m springboard
3  Montreal  1976.0  Aquatics     Diving  3m springboard
4  Montreal  1976.0  Aquatics     Diving    10m platform

                    Athlete Gender Country_Code        Country Event_gender  \
0           KÖHLER, Christa  Women          GDR   East Germany            W
1       KOSENKOV, Aleksandr    Men          URS   Soviet Union            M
2      BOGGS, Philip George    Men          USA  United States            M
3  CAGNOTTO, Giorgio Franco    Men          ITA          Italy            M
4    WILSON, Deborah Keplar  Women          USA  United States            W

    Medal
0  Silver
1  Bronze
2    Gold
3  Silver
4  Bronze

In [30]:
print(df.columns)

Index(['Entry ID', 'Name', 'Gender', 'Age', 'Team', 'NOC', 'Year', 'Season',
       'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [31]:
rows_with_nulls = df[df.isnull().any(axis=1)]
print(rows_with_nulls)

        Entry ID                                Name  Gender   Age  \
0              0                           A Dijiang    Male  24.0
1              1                            A Lamusi    Male  23.0
2              2                 Gunnar Nielsen Aaby    Male  24.0
4             26  Cornelia "Cor" Aalten (-Strannood)  Female  18.0
5             27  Cornelia "Cor" Aalten (-Strannood)  Female  18.0
...          ...                                 ...     ...   ...
286232    271111                          Andrzej ya    Male  29.0
286233    271112                            Piotr ya    Male  27.0
286234    271113                            Piotr ya    Male  27.0
286235    271114                  Tomasz Ireneusz ya    Male  30.0
286236    271115                  Tomasz Ireneusz ya    Male  34.0

               Team  NOC  Year  Season            City        Sport  \
0             China  CHN  1992  Summer       Barcelona   Basketball
1             China  CHN  2012  Summer          London         Judo
2           Denmark  DEN  1920  Summer       Antwerpen     Football
4       Netherlands  NED  1932  Summer     Los Angeles    Athletics
5       Netherlands  NED  1932  Summer     Los Angeles    Athletics
...             ...  ...   ...     ...             ...          ...
286232     Poland-1  POL  1976  Winter       Innsbruck         Luge
286233       Poland  POL  2014  Winter           Sochi  Ski Jumping
286234       Poland  POL  2014  Winter           Sochi  Ski Jumping
286235       Poland  POL  1998  Winter          Nagano    Bobsleigh
286236       Poland  POL  2002  Winter  Salt Lake City    Bobsleigh

                                           Event Medal
0                    Basketball Men's Basketball   NaN
1                   Judo Men's Extra-Lightweight   NaN
2                        Football Men's Football   NaN
4                   Athletics Women's 100 metres   NaN
5         Athletics Women's 4 x 100 metres Relay   NaN
...                                          ...   ...
286232                Luge Mixed (Men)'s Doubles   NaN
286233  Ski Jumping Men's Large Hill, Individual   NaN
286234        Ski Jumping Men's Large Hill, Team   NaN
286235                      Bobsleigh Men's Four   NaN
286236                      Bobsleigh Men's Four   NaN

[244737 rows x 12 columns]

In [35]:
df_excl_medal = df.drop(columns=['Medal'])


print("Summary of null values by column (excluding 'Medal')")
nulls_summary = df_excl_medal.isnull().sum()
print(nulls_summary)

Resumen de valores nulos por columna (excepto 'medal'):
Entry ID      0
Name          0
Gender        0
Age         721
Team          0
NOC           0
Year          0
Season        0
City          0
Sport         0
Event         0
dtype: int64

In [33]:
df = df[(df['Season'] != 'Winter') & (df['Medal'].notna())]

In [34]:
print(df)

        Entry ID                     Name  Gender   Age            Team  NOC  \
3              3     Edgar Lindenau Aabye    Male  34.0  Denmark/Sweden  DEN
12            37     Arvo Ossian Aaltonen    Male  30.0         Finland  FIN
13            38     Arvo Ossian Aaltonen    Male  30.0         Finland  FIN
15            41  Paavo Johannes Aaltonen    Male  28.0         Finland  FIN
16            42  Paavo Johannes Aaltonen    Male  28.0         Finland  FIN
...          ...                      ...     ...   ...             ...  ...
237654     15102             ZOU Jingyuan    Male  23.0           China  CHN
237657     15105         ZUBIMENDI Martin    Male  22.0           Spain  ESP
237658     15106           ZUEV Alexander    Male  24.0          Russia  ROC
237664     15112         ZVEREV Alexander    Male  24.0         Germany  GER
237669     15117             ZYKOVA Yulia  Female  25.0          Russia  ROC

        Year  Season       City                Sport  \
3       1900  Summer      Paris           Tug-Of-War
12      1920  Summer  Antwerpen             Swimming
13      1920  Summer  Antwerpen             Swimming
15      1948  Summer     London           Gymnastics
16      1948  Summer     London           Gymnastics
...      ...     ...        ...                  ...
237654  2020  Summer      Tokyo  Artistic Gymnastics
237657  2020  Summer      Tokyo             Football
237658  2020  Summer      Tokyo       3x3 Basketball
237664  2020  Summer      Tokyo               Tennis
237669  2020  Summer      Tokyo             Shooting

                                         Event   Medal
3                  Tug-Of-War Men's Tug-Of-War    Gold
12      Swimming Men's 200 metres Breaststroke  Bronze
13      Swimming Men's 400 metres Breaststroke  Bronze
15      Gymnastics Men's Individual All-Around  Bronze
16            Gymnastics Men's Team All-Around    Gold
...                                        ...     ...
237654                              Men's Team  Bronze
237657                                Men Team  Silver
237658                                Men Team  Silver
237664                           Men's Singles    Gold
237669             50m Rifle 3 Positions Women  Silver

[36537 rows x 12 columns]

In [36]:
df.to_csv('filtered_athlete_games.csv', index=False)

: